.container{
    text-align: center;
    color: rgb(59, 11, 104);
    padding-top: 50px;
    font-size: 60px;
    font-weight: 777;
}
body{
    background: yellow;
}
#Startbtn{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    height: 39px;
    width: 70px;
    border-radius: 13px;
    border: none;
    color: sienna;

}
#Resetbtn{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    height: 39px;
    width: 70px;
    border-radius: 13px;
    border: none;
    color: sienna;

}
#Stopbtn{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    height: 39px;
    width: 70px;
    border-radius: 13px;
    border: none;
    color: sienna;

}